#primaryLinks {
    /*background-color: lightgray;*/
    height: 50px;
    line-height: 50px;
    width: auto;
    text-align: right;
    padding-right: 10px;
    float: right;
}

#primaryLinks li {
    display: inline;
}

#primaryLinks menu {
    padding-top: 0px;
    padding-left: 0px;

}

#logo {
    float: left;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#logo img {
    height: 100px;
}

#primaryContent {
    clear: both;
    text-align: left;
}

li a {
    padding-right: 10px;
}

#primaryContent img {
    float: right;
    padding-left: 100px;
}

